@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;

  padding-top: 0.1px;

  /* background-color: red; */

  font-family: Roboto;

  /* position: relative; */
}

nav {
  height: 12.5%;
  width: 100%;
  background-color: #f7f9f7;
  /* margin-top: 22.5px; */
  margin-top: 1.758vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

nav h1 {
  font-family: monument;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 0 5.5vw 0 5.5vw;
  /* 7.813vw */
  font-size: 3vw;
  /* border-right: 2px solid black; */
  letter-spacing: -2px;

  position: relative;
}

nav h1::after {
  content: "model management";
  font-family: Roboto;
  font-size: min(1.5vw, 8px);
  position: absolute;
  letter-spacing: 0;
  font-family: 300;

  bottom: 5%;
  right: 20.5%;
}

nav h1::before {
  content: "©️";
  font-family: Roboto;
  font-size: 0.781vw;
  position: absolute;
  color: black;
  top: 13%;
  right: 18%;
}

nav h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  font-weight: 500;
  border-right: 2px solid black;
}

nav h4:nth-last-child(2) {
  border-right: 0;
  /* background-color: red; */
  width: 10%;
}

nav h4 i {
  font-size: 2.2vw;
}

nav h2 {
  display: none;
}

header {
  height: 83.4%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.center {
  height: 92%;
  width: 90%;
  position: relative;
}

.center video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1; /* Set a lower z-index for the video */
}

.center .overlay {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 3%;

  width: 94%;
  height: fit-content;
}

.center .overlay-1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  border-bottom: 1px solid white;
  padding-bottom: 1.953vw;
}

.center .overlay-1 h1 {
  font-family: monument;
  color: white;
  font-size: 3vw;
}

.center .overlay-1 h2 {
  height: 5.078vw;
  width: 5.078vw;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  /* border-bottom-left: 2px solid white; */

  color: white;
  font-size: 10px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center .overlay-2 {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  /* border-bottom: 1px solid white; */
  padding-top: 1.172vw;
}

.center .overlay-2 h5 {
  /* font-family: monument; */
  color: white;
  font-size: 15px;
  font-weight: 400;
}

.center .overlay-2 h6 i {
  font-size: 40px;
  color: white;
  /* z-index: 999; */
}

.roller {
  /* width: 100%; */
  height: 30%;
  /* background-color: pink; */
  margin-top: 5.078vw;

  display: flex;
  /* white-space: nowrap; */

  overflow-x: hidden;
}

.roller-container {
  flex-shrink: 0;
  height: 100%;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* display: inline-block; */

  /* background-color: red; */

  animation-name: rollingANIMATION;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* 
Animation-delay : 2s.
Animation-fill-mode: forwards ; 
Jaha animation khatam uske properties vo lega.
Animation-iteration-count :
Animation-direction : 
Animation-timing-function :
 */

.roller-container img {
  height: 15vw;
  width: 15vw;
  object-fit: cover;

  margin: 2vw 2vw;
  border-radius: 50%;
}

@keyframes rollingANIMATION {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.alphabets {
  margin-top: 2.344vw;

  height: 12%;
  width: 100%;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  display: flex;

  align-items: center;
  justify-content: center;

  /* font-size: 10px; */
}

.alphabets h1 {
  font-size: 1.563vw;
  font-style: italic;
  border-bottom: 2.5px solid black;
  margin-right: 2.344vw;
}

.alphabets h2 {
  font-size: 1.094vw;
  font-weight: 300;
  font-style: italic;
  margin: 0 5px;

  height: 2.344vw;
  width: 2.344vw;
  border-radius: 50%;
  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #f7f9f7;
}

.alphabets h2:hover {
  border: 2px solid #000;
}

.photos-1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3.516vw;
}

.photos-1 .image-1 {
  height: 90%;
  width: 50%;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1462804993656-fac4ff489837?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 50% 50%;
}

.photos-1 .image-2 {
  height: 90%;
  width: 35%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photos-1 .image-2 img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.photos-1 .image-2 article {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.photos-1 .image-2 article h1 {
  font-size: 1.6vw;
  width: 40%;
  font-weight: 500;
}

.photos-1 .image-2 article h5 {
  font-size: 1.2vw;
  width: 55%;
  font-weight: 400;
}

.vogue {
  height: fit-content;
  padding: 1.953vw 0;
  width: 100%;
  font-family: Anton;
  font-size: 3.2vw;
  text-transform: uppercase;
  padding-left: 5vw;
}

.updates {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  padding: 4vw 5vw;
  position: relative;
}

.updates > h1 {
  font-family: monument;
  text-transform: uppercase;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 3.125vw;
}

.updates-row {
  width: 100%;
  height: 22%;
  /* background-color: pink; */
  border-bottom: 1.5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  position: relative;
}

.updates-row h2 {
  font-size: 1.1vw;
  font-weight: 400;
  width: fit-content;
  text-transform: uppercase;
}

.updates-row .part2 {
  width: 50%;
}

.updates-row .part2 h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

.updates-row .part2 h3 {
  font-size: 1vw;
  font-weight: 400;
  text-transform: uppercase;
}

.updates-row img {
  height: 8vw;
  width: 8vw;
  object-fit: cover;
  border-radius: 50%;
  object-position: 50% 20%;

  position: absolute;
  left: 10%;
  opacity: 0;

  transition: all ease 0.8s;
}

.updates-row:hover img {
  left: 15%;
  opacity: 1;
}

.exclusive {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.exclusive h1 {
  font-size: 2.5vw;
  font-weight: 500;
}

.exclusive h3 {
  font-size: 1vw;
  font-weight: 400;
  text-transform: uppercase;
}

.photos-2 {
  height: 100%;
  width: 100%;
  padding: 4vw 5vw;
  position: relative;
}

.photos-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: ; */
  /* position: relative; */
  /* z-index: -1; */
}

.photos-2 h1 {
  height: 5vw;
  width: 5vw;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 3vw;
  z-index: 10;
  font-weight: 300;
  border: 3px solid white;

  position: absolute;
  top: 10%;
  right: 6%;
}

.photos-3 {
  height: 100%;
  width: 100%;
  padding: 4vw 5vw;
}

.photos-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: top;
}

.marque {
  display: flex;
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
  /* overflow-y: auto; */
  padding: 1vw;
  /* background-color: red; */

  margin-top: 3.906vw;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.marque h1 {
  /* background-color: blue; */
  flex-shrink: 0;
  width: fit-content;
  font-size: 3vw;
  font-family: monument;
  letter-spacing: 1.2px;
  -webkit-text-stroke: 2px black;
  color: #f7f9f7;
  margin-right: 1vw;
  text-transform: uppercase;

  animation: movingleft;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes movingleft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 1vw));
  }
}

.photos-4 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 3.516vw;
}

.photos-4 .image-1 {
  height: 90%;
  width: 50%;
  /* background-color: red; */
  background-image: url("white-coat.jpeg");
  background-size: cover;
  background-position: 50% 50%;
}

.photos-4 .image-2 {
  height: 90%;
  width: 35%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photos-4 .image-2 img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.photos-4 .image-2 article {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.photos-4 .image-2 article h1 {
  font-size: 1.3vw;
  width: 40%;
  font-weight: 500;
}

.photos-4 .image-2 article h5 {
  font-size: 1vw;
  width: 45%;
  font-weight: 400;
}

.blog {
  height: 90%;
  width: 100%;
  padding: 4vw 5vw;
  display: flex;
  justify-content: space-between;
  gap: 4.5vw;

  background-color: 80;
}

.blog h1 {
  font-size: 1.95vw;
  font-family: monument;
}

.elem {
  /* background-color: red; */
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.elem article h2 {
  font-size: 10px;
  font-weight: 500;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.elem article h5 {
  font-size: 1.56vw;
  font-weight: 400;
}

.elem img {
  height: 50%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* footer  */

footer {
  height: 35%;
  width: 100%;
  padding: 4vw 0;
  /* background-color: red; */
  font-size: 0.781vw;

  display: flex;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 1.953vw;
}

/* footer left-box */
footer .premier-model {
  width: 40%;
  border-left: 1px solid black;
  /* background-color: pink; */

  padding: 1.25vw 5vw;
  display: flex;
  justify-content: space-between;
}

footer .premier-model h1 {
  font-size: 2.344vw;
  font-weight: 600;
  font-family: monument;
  letter-spacing: -0.5px;
  position: relative;
}

/* footer .premier-model h1::after {
  content: "model management";
  font-family: Roboto;
  font-size: min(1.5vw, 8px);
  position: absolute;
  letter-spacing: 0;
  font-family: 300;

  bottom: 58%;
  right: 0%;
}

footer .premier-model h1::before {
  content: "©️";
  font-family: Roboto;
  font-size: 0.781vw;
  position: absolute;

  top: 1%;
  right: -5%;
} */

footer .premier-model h2 {
  font-size: 1.563vw;
  font-weight: 500;
}

footer .wm {
  width: 20%;
  display: flex;
  justify-content: center;
  padding: 1.25vw 0;
}

footer .wm h6 {
  font-size: 1.563vw;
  font-weight: 500;
}

footer .contact {
  width: 40%;
  /* padding: 1.25vw 0; */
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
}

footer .contact > h1 {
  height: 40%;
  width: 100%;
  font-weight: 500;
  padding: 1.25vw;
}

.bottom {
  padding: 1.563vw;
}

.socials i {
  font-size: 1.563vw;
  margin-right: 1.953vw;
}

.bottom h1 {
  margin-top: 0.781vw;
  font-size: 0.781vw;
}

@media (max-width: 600px) {
  nav {
    height: 8%;
    padding: 0vw 2.5vw;
  }

  nav h1 {
    font-size: 6.5vw;
    /* border-right: 2px solid black; */
    /* width: 50%; */
    padding-left: 0;
  }

  nav h1::after {
    bottom: 4%;
    right: 12%;
  }

  nav h1::before {
    font-size: 2.5vw;
    top: 6%;
    right: 8%;
  }

  nav h4 {
    display: none;
  }

  nav h2 {
    display: block;
    font-size: 5vw;
    /* width: 50%; */
  }

  header {
    height: 40%;
  }

  .center .overlay-1 {
    padding-bottom: 1.5vw;
  }

  .center .overlay-1 h1 {
    font-size: 4.5vw;
    letter-spacing: 1.2px;
  }

  .center .overlay-1 h2 {
    height: 6vw;
    width: 6vw;

    font-size: 2.3vw;
  }

  .center .overlay-2 {
    padding-top: 1vw;
    justify-content: baseline;
  }

  .center .overlay-2 h5 {
    /* font-family: monument; */
    color: white;
    font-size: 2.5vw;
    font-weight: 400;
  }

  .center .overlay-2 h6 i {
    font-size: 4.5vw;
    color: white;
    /* z-index: 999; */
  }

  .roller {
    /* width: 100%; */
    height: 15%;

    display: flex;
    /* white-space: nowrap; */

    overflow-x: hidden;
    /* background-color: red; */
  }

  .alphabets {
    height: fit-content;
    width: 100%;
    flex-wrap: wrap;
    padding: 1vw 0;
  }

  .alphabets h1 {
    display: none;
  }

  .alphabets h2 {
    font-size: 4vw;

    margin: 0 6px;

    height: 6.3vw;
    width: 6.3vw;
    border-radius: 50%;
  }

  .photos-1 {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    margin-top: 5vw;
    gap: 3.516vw;
  }

  .photos-1 .image-1 {
    height: 100%;
    width: 50%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1462804993656-fac4ff489837?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 50%;
  }

  .photos-1 .image-2 {
    height: 100%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photos-1 .image-2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }

  .photos-1 .image-2 article {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .photos-1 .image-2 article h1 {
    display: none;
  }

  .photos-1 .image-2 article h5 {
    height: fit-content;
    font-size: 2vw;
    width: 100%;
    font-weight: 500;
    padding: 1vw 0;
  }

  .vogue {
    height: fit-content;
    text-align: center;
    padding: 4vw 0;
    width: 100%;
    font-size: 6vw;
  }

  .photos-3 {
    height: 40%;
    width: 100%;
    padding: 0 5vw;
    margin-bottom: 10px;
  }

  .photos-3 img {
    height: 100%;
    width: 100%;
  }

  .updates {
    width: 100%;
    height: fit-content;
    /* background-color: red; */
    padding: 4vw 5vw;
    position: relative;
  }

  .updates > h1 {
    font-family: monument;
    text-transform: uppercase;
    text-align: center;
    font-size: 6vw;
    margin-bottom: 3.125vw;
  }

  .updates-row {
    width: 100%;
    height: 30%;
    /* background-color: pink; */
    border-bottom: 1.5px solid black;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 1vw; */
    position: relative;
    padding: 15px 0px;
  }

  .updates-row h2 {
    font-size: 5vw;

    width: 100%;
    text-align: end;
  }

  .updates-row .part2 {
    width: 100%;
    text-align: end;
  }

  .updates-row .part2 h1 {
    font-size: 7vw;
    font-weight: 500;
  }

  .updates-row .part2 h3 {
    font-size: 4vw;
    font-weight: 400;
    text-transform: uppercase;
  }

  .updates-row img {
    height: 10vw;
    width: 10vw;
    object-fit: cover;
    border-radius: 50%;
    object-position: 50% 20%;

    position: absolute;
    top: 25%;
    right: 10%;
    opacity: 0;

    transition: all ease 0.3s;
  }

  .updates-row:hover img {
    transform: scale(2.2);
    opacity: 1;
  }

  .exclusive {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* text-align: end; */
    /* padding-bottom: 20px; */
  }

  .exclusive h1 {
    font-size: 7vw;
    font-weight: 500;
  }

  .exclusive h3 {
    font-size: 3vw;
    font-weight: 400;
    text-transform: uppercase;
  }

  .photos-2 {
    height: 36%;
    width: 100%;
    padding: 0 5vw;
    position: relative;
  }

  .photos-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .photos-2 h1 {
    height: 6vw;
    width: 6vw;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 3vw;
    z-index: 10;
    font-weight: 300;
    border: 1px solid white;

    position: absolute;
    top: 3%;
    right: 7%;
  }

  .photos-4 {
    height: 50%;
    gap: 3.5vw;
    padding: 20px 0 0 0;
    align-items: start;
  }

  .photos-4 .image-1 {
    height: 80%;
    width: 50%;
    /* background-color: red; */
    background-image: url("white-coat.jpeg");
    background-size: cover;
    background-position: 50% 50%;
  }

  .photos-4 .image-2 {
    height: 80%;
    width: 35%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .photos-4 .image-2 img {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: cover;
    object-position: top;
  }

  .photos-4 .image-2 article {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .photos-4 .image-2 article h1 {
    display: none;
  }

  .photos-4 .image-2 article h5 {
    font-size: 1.7vw;
    width: 100%;
    font-weight: 500;
  }

  .marque {
    display: flex;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    /* overflow-y: auto; */
    padding: 1vw;
    /* background-color: red; */

    margin-top: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .marque h1 {
    /* background-color: blue; */
    flex-shrink: 0;
    width: fit-content;
    font-size: 5vw;
    font-family: monument;
    letter-spacing: 1.2px;
    -webkit-text-stroke: 2px black;
    color: #f7f9f7;
    margin-right: 1vw;
    text-transform: uppercase;

    animation: movingleft;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .blog {
    height: fit-content;
    width: 100%;
    padding: 4vw 5vw 4vw 5vw;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 1vw; */
    flex-wrap: wrap;
    background-color: 80;
  }

  .blog h1 {
    font-size: 6vw;
    font-family: monument;
    text-align: center;
    width: 100%;
  }

  .elem {
    /* background-color: red; */
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;

    gap: 10px;
  }

  .elem article {
    width: 50%;
  }

  .elem article h2 {
    font-size: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px;/ */
  }

  .elem article h5 {
    font-size: 2.6vw;
    font-weight: 500;
    /* display: inline; */
  }

  .elem img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
  }

  footer {
    height: 35%;
    width: 100%;
    padding: 4vw 0;
    /* background-color: red; */
    font-size: 0.781vw;

    display: flex;
    gap: 0px;
    flex-wrap: wrap;

    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-bottom: 1.953vw;
  }

  /* footer left-box */
  footer .premier-model {
    width: 70%;
    border-left: 1px solid black;
    /* background-color: pink; */

    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  footer .premier-model h1 {
    font-size: 5vw;
    font-weight: 600;
    font-family: monument;
    letter-spacing: -0.5px;
    position: relative;
    width: 33%;
  }

  footer .premier-model h1::after {
    content: "model management";
    font-family: Roboto;
    font-size: min(1.5vw, 8px);
    position: absolute;
    letter-spacing: 0;
    font-family: 300;

    bottom: 2%;
    right: -33%;
  }

  footer .premier-model h1::before {
    content: "©️";
    font-family: Roboto;
    font-size: 1.4vw;
    position: absolute;

    top: 1%;
    right: -38%;
  }

  footer .premier-model h2 {
    font-size: 3vw;
    font-weight: 500;
    width: 33%;
  }

  footer .wm {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 1.25vw 0;
  }

  footer .wm h6 {
    font-size: 3vw;
    font-weight: 500;
  }

  footer .contact {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
  }

  footer .contact > h1 {
    /* height: 40%; */
    /* width: 50%; */
    font-weight: 500;
    font-size: 3vw;
    /* padding: 6vw; */
    text-align: center;
  }

  .bottom {
    padding: 1vw;
    /* width: 50%; */
  }

  .socials {
    margin: 0 auto;
    width: fit-content;
  }

  .socials i {
    font-size: 5vw;
    margin-right: 1.953vw;
    text-align: center;
  }

  .bottom h1 {
    margin-top: 0.781vw;
    font-size: 2vw;
    text-align: center;
  }
}
